<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovely3x.common">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <application android:label="@string/app_name">
        <activity android:name=".image.picker.ImagePickerListActivity" />
        <activity android:name=".image.picker.ImagePickerGridDetailActivity" />
        <activity
            android:name=".image.camera.CameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".image.crop.CropImageActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
    </application>

</manifest>
